body {
   font-family: Roboto, sans-serif;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}

header {
    background-color: #163638;
    padding: 20px 20px;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container img {
    max-width: 10%;
}

.container p {
    padding: 0;
    margin: 0;
    color: rgba(222, 223, 194, 0.308);
}


.right-section{
    display: flex;
    gap: 30px;
    font-size: 17px;
    padding: 0;
    margin: 0;
    color: rgb(189, 187, 187);
}
.links {
    margin-right: 20px;
}

.main-content img {
    max-width: 20%;
}


.main-content {
    display: flex;
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    margin: 10px;
    background-color: #3882f6;
    margin-right: 45px;
}

h1 {
    font-weight: 900;
    color: #f9faf8;
    font-size: 44px;
    margin: 15px;
}

h2 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #1f2937;
}


div.info img {
    max-width: 20%;
    margin-left: 120px;
}

.info p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: black;
    font-style: italic;
}

.info {
    border: 5px groove rgba(15, 146, 221, 0.801);
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.quote-container {
    background-color: #c3cad6;
    margin: 0;
    padding: 0;
}

h2 {
    padding-bottom: 15px;
}

.quote-container p {
    font-size: 30px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
    padding: 5px;
    font-style: oblique;
} 


.quote-bottom p {
    text-align: right;
 padding-right: 250px;
}

.following-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
   height: 10vh;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.following {
    border-radius: 5px;
   background-color: #3882f6;
   width: 100%;
   display: flex;
   flex: 1;
   padding: 0;
   margin: 0;
}

h4 {
    margin: 0;
    color: #000000;
    font-weight: 400;
    font-size: x-large;
}

div.following p {
    margin: 5px 0;
    color: #f8f4f2d8;
    font-style: italic;
}

.following button {
    margin-left: 50px;
    background-color: #3882f6;
    color: red;
}

.footer {
    background-color: #000000c0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.footer p {
    color: antiquewhite;
    padding-bottom: 40px;
    padding-right: 10px;
}